* {
    font-family: Arial, Helvetica, sans-serif;
}

#demo {
    border-collapse: collapse;
    width: 100%;
}

#demo td, #demo th {
    border: 1px solid #ddd;
    padding: 4px;
}

#demo tr:nth-child(even){background-color: #f2f2f2;}

#demo td:nth-child(1) {text-align: center;}

#demo tr:hover {background-color: #ddd;}

#demo th {
    text-align: center;
    background-color: #1ab7ea;
    color: white;
}

.text-center {
    text-align: center;
}